# Python
__pycache__/
*.py[cod]
venv/
.env

# Jupyter
.ipynb_checkpoints

# Data
data/
!data/.gitkeep
data/MNIST/
data/raw/
data/processed/

# Docker
.docker_data/

# Documentation
BITACORA_TECNICA.md