# Data Handling & Manipulation
pandas==2.2.2

# Visualization
matplotlib==3.8.4
seaborn==0.13.2

# ML Algorithms & Tools
scikit-learn==1.5.0
# Llama 3 concepts (Classic models)
transformers==4.42.4 
torch==2.3.1 

# Notebooks & EDA
jupyterlab==4.1.5
ipykernel==6.29.4